@import 'theme/includes';

#opportunity_description {
  min-height: 14rem;
}

.opportunity_contact_name {
  margin-top: $rhythm;
}

.styled_select_wrapper + .microcopy {
  margin-top: $rhythm;
}

.opportunity_rename_form {
  padding-bottom: $rhythm;

  input {
    margin-top: 0.75rem;
  }
}
