@import 'dvl/core/includes';

// dvl/core overrides
$navBackground: #000;

$fontFamilyDefault: 'Helvetica Neue', Arial, sans-serif !default;
$fontFamilyDisplay: 'HelveticaNeue-Light', Helvetica, Arial, sans-serif !default;
$fontFamilyMonospace: 'Monaco', 'Lucida Console', monospace !default;
