@import 'theme/includes';

.date_range {
  input {
    display: inline;
    width: 11rem;
  }

  span {
    font-size: $fontSmaller;
    color: $darkerGray;
  }

  input, span {
    margin-right: $rhythm;

    &:last-child {
      margin-right: 0;
    }
  }
}
