@import 'theme/includes.scss';

.filter_clear {
  position: absolute;
  letter-spacing: $letterspaceSmallest;
  font-size: $fontSmallest;
  right: $rhythm * 2;
  top: $rhythm * 1.5;
  text-transform: uppercase;
}

.info_box_filters {
  display: none;

  &.is_active {
    display: block;
  }

  @media screen and (min-width: $lapWidth) {
    display: block;
  }
}

.filter_button_mobile {
  color: $darkerGray;
  background: transparent;
  font-size: $lineHeight;
  padding: $rhythm;
  border: 0;
  border-radius: $radius;
  &:focus,
  &:hover {
    outline: 0;
    background: rgba($primaryColor,0.25);
    color: $primaryColor;
  }
  span {
    @include hidden;
  }
  &.is_active {
    background: $primaryColor;
    color: $white;
  }
  @media screen and (min-width: $lapWidth) {
    display: none;
  }
}
