@import 'theme/includes';

.opportunity_actions {
  margin-left: - $rhythm;
  font-size: 0;
  li {
    font-size: 100%;
    display: inline-block;
    padding-left: $rhythm;
    position: relative;
    width: 50%;
    @media screen and (min-width: $lapWidth) {
      width: 100%;
    }
    @media screen and (min-width: $maxWidth) {
      width: 50%;
    }
  }
  a {
    margin-bottom: $rhythm;
  }
}
