@import 'theme/includes';

.opportunity_timeline {
  padding-left: $rhythm * 3;
  margin-bottom: $lineHeight;

  > li {
    font-size: $fontSmall;
    margin-bottom: $rhythm * 2;
    position: relative;

    &:before {
      content: '';
      position: absolute;
      top: $rhythm;
      left: - 2.5rem; // horizontally center on timeline
      border: 1px solid $gray;
      border-radius: 50%;
      width: $lineHeight;
      height: $lineHeight;
      background: #fff;
      z-index: 2;
    }
    &:after {
      position: absolute;
      content: '';
      left: $rhythm * -3.5;
      height: 100%;
      top: 75%;
      width: 1px;
      background-color: $darkGray;
    }
    &:first-child:after {
      top: 75%;
      height: 87.5%;
    }
    &:last-child:after {
      content: none;
    }
    &.is_past {
      opacity: 0.6;
    }
  }
}

.opportunity_timeline_event {
  font-weight: $weightBold;
  color: $darkerGray;
  font-size: $fontSmaller;
}
