@import 'theme/includes';

.opportunity_actions {
  display: table;
  width: 100%;
  margin-bottom: $lineHeight;
  li {
    display: table-cell;
    text-align: center;
    width: 100%;
    ~ li {
      width: 50%;
      padding: 0 5%;
    }
  }
}
