@import 'theme/includes';

.password_shim {
  line-height: $rhythm * 4;
  letter-spacing: 0.2rem;
  position: relative;
  top: $rhythm / -2;
  font-size: $lineHeight;
  color: $darkerGray;
  margin-right: $rhythm / 2;
}
