@import 'theme/includes';

.edit_question,
.edit_question textarea,
.new_question textarea,
.question_answer,
.question_question_text {
  margin-bottom: $rhythm;
}

.question {
  margin-bottom: $rhythm * 3;
}

.question_answer {
  padding-left: $rhythm * 2;
  border-left: 5px solid $lightGray;
}

.question_asked_by,
.question_answered_by {
  font-weight: $weightBold;
  font-size: $fontSmall;
  color: $darkerGray;
}

.question_admin_links {
  font-size: $fontSmall;

  li {
    display: inline;
    margin-right: $rhythm;
  }
}
