@import 'theme/includes';

body.index {
  .navbar {
    background: transparent;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    @include font_smoothing;
    .button {
      margin-left: $rhythm * 2;
    }
  }
  .navbar_content_wrapper {
    border-radius: $radius;
    background: $primaryColor;
    @media screen and (min-width: $deskWidth) {
      background: transparent;
    }
  }
  .navbar_content > ul > li > a {
    padding: $rhythm ($rhythm * 2);
    margin-top: $rhythm;
    @media screen and (min-width: $deskWidth) {
      line-height: $lineHeight;
      border-radius: $lineHeight;
    }
  }
}

.recent_opps {
  width: 90%;
  margin: 0 5%;
  @media screen and (min-width: $lapWidth) {
    width: 35rem;
    margin: 0 auto;
  }
  h2 {
    text-align: center;
  }
}


.recent_opps_more {
  text-align: center;
  margin-bottom: $rhythm * 5;
}
