<% # This page shouldn't be translated, since it will vary from site to site. %>

<div class='page_subheader'>
  <h3>About this site</h3>
</div>

<p>
  <%= DispatchConfiguration.site_title %> is a website that lists contracting opportunities
  from <%= DispatchConfiguration.agency_name %>.
</p>

<p>
  Dispatch is an <a href='https://github.com/dobtco/dispatch'>open-source</a>
  project by The Department of Better Technology.
</p>
