<% # This page shouldn't be translated, since it will vary from site to site. %>

<div class="info_box">
  <div class="info_box_header">
    <h4>About <%= DispatchConfiguration.site_title %></h4>
  </div>
  <div class="info_box_body">
    <%= DispatchConfiguration.site_title %> is a website that lists contracting opportunities
  from <%= DispatchConfiguration.agency_name %>. It's powered by an <a href='https://github.com/dobtco/dispatch'>open-source project</a> from The Department of Better Technology.</div>
</div>
