<% content_for(:page_title, t('home.hero.title')) %>
<% content_for(:page_key, 'index') %>

<% content_for(:before_container) do %>
  <%= render('hero') %>
<% end %>

<div class='recent_opps'>
  <%= render('recent_opportunities') %>
  <%= render('about') %>
</div>
