@import 'theme/includes';

.hero {
  background: url(asset-path('hero.png')) no-repeat center;
  text-align: center;

  p {
    margin: 0 auto;
    max-width: none;

    &:first-of-type {
      margin-bottom: $rhythm * 2;
    }
  }
}
