<% content_for(:main_container_class, 'container_small') %>

<div class='page_header'>
  <h2>About this site</h2>
</div>

<p>
  <%= DispatchConfiguration.site_title %> is a website that lists contracting opportunities
  from <%= DispatchConfiguration.agency_name %>.
</p>
