<%= render('greeting') %>

<p>
  <%= t('mailer.approval_request.body_html', creator: @creator.name, href: opportunity_url(@opportunity), title: @opportunity.title) %>
</p>

<p class='centered padding'>
  <a class='btn-primary' href='<%= opportunity_url(@opportunity) %>'>
    <%= t('view_opportunity') %> &rarr;
  </a>
</p>
