<%= render('greeting') %>

<p><%= t('mailer.search_results.body') %></p>

<ul>
  <% @opportunities.each do |opportunity| %>
    <li>
      <a href='<%= opportunity_url(opportunity) %>'><%= opportunity.title %></a>
    </li>
  <% end %>
</ul>
