<%= render('greeting') %>

<p>
  <%= t('mailer.submission_deadline.body_html', href: opportunity_url(@opportunity), title: @opportunity.title) %>
</p>

<p class='centered padding'>
  <a class='btn-primary' href='<%= opportunity_url(@opportunity) %>'>
    <%= t('submit_proposal') %> &rarr;
  </a>
</p>
