<% if policy(@opportunity).answer_questions? && @opportunity.questions.unanswered.count > 0 %>
  <li>
    <a href='#questions'>
      <%= t('unanswered_questions', count: @opportunity.questions.unanswered.count) %>
    </a>
  </li>
<% end %>
