<% if policy(@opportunity).ask_question? %>
    <a class='button block small icon_l' href='#new_question"><i class='fa fa-question-circle'></i> <%= t('ask_question') %></a>
<% elsif OpportunityPolicy.new(User.new, @opportunity).ask_question? %>
    <% # @todo redirect %>
    <a class='button block small' href='<%= new_user_session_path %>'><i class='fa fa-question-circle'></i> <%= t('ask_question') %></a>
<% end %>
