<% if policy(@opportunity).ask_question? %>
  <a href='#'>Ask a question</a>
<% elsif OpportunityPolicy.new(User.new, @opportunity).ask_question? %>
  <a href='#'>Ask a question</a> (sign in)
<% end %>
