<% if policy(@opportunity).ask_question? %>
  <li>
    <a href='#'>Ask a question</a>
  </li>
<% elsif OpportunityPolicy.new(User.new, @opportunity).ask_question? %>
  <li>
    <a href='#'>Ask a question</a> (sign in)
  </li>
<% end %>
