<% if policy(@opportunity).submit? %>
  <% if @opportunity.submission_adapter.submission_page %>
    <li>
      <a class='button small block primary' href='<%= submit_opportunity_path %>'><%= t('submit_proposal') %></a>
    </li>
  <% elsif @opportunity.submission_adapter.submit_proposals_url %>
    <li>
      <a class='button small block primary' href='<%= @opportunity.submission_adapter.submit_proposals_url %>'><%= t('submit_proposal') %></a>
    </li>
  <% end %>
<% end %>
