<% if policy(@opportunity).submit? && @opportunity.submission_adapter.submit_proposals_instructions %>
  <p class='microcopy submission_instructions'><%= @opportunity.submission_adapter.submit_proposals_instructions %></p>
<% end %>
