<div class='sidebar_box'>
  <ul class='sidebar_button_actions'>
    <%= render('opportunities/actions/review_submissions') %>
    <%= render('opportunities/actions/answer_questions') %>
  </ul>
</div>
