<% if @opportunity.attachments.present? %>
  <h3>Attachments</h3>

  <ul>
    <% @opportunity.attachments.each do |attachment| %>
      <%= render partial: 'view_attachment', locals: { attachment: attachment } %>
    <% end %>
  </ul>
<% end %>
