<% if @opportunity.attachments.present? %>
  <div class='page_subheader'>
    <h3><%= t('attachments') %></h3>
  </div>

  <ul>
    <% @opportunity.attachments.each do |attachment| %>
      <%= render partial: 'view_attachment', locals: { attachment: attachment } %>
    <% end %>
  </ul>
<% end %>
