<div class='opportunity_section'>
  <% if @opportunity.description.present? %>
    <%= format_textarea_input(@opportunity.description) %>
  <% else %>
    <p class='none'><%= t('no_description') %></p>
  <% end %>
</div>
