<li class='opportunity'>
  <a href='<%= opportunity_path(opportunity) %>'>
    <span><%= opportunity.title %></span>
    <em>
      <% if opportunity.approved? %>
        <%= t('will_publish_at_time', timestamp: long_timestamp(opportunity.publish_at)).html_safe %>
      <% else %>
        <%= t('created_by_user_at_time', user: opportunity.created_by_user.name, timestamp: long_timestamp(opportunity.created_at)).html_safe %>
      <% end %>
    </em>
  </a>
</li>
