<% if policy(@opportunity).submit? || policy(@opportunity).ask_question? %>
  <div class='opportunity_actions'>
    <%= render('opportunities/actions/submit') %>
    <%= render('opportunities/actions/ask_question') %>
  </div>

  <%= render('opportunities/actions/submission_instructions') %>
<% end %>

<%= render('opportunities/contact_info') %>
