<%= content_for(:active_nav, 'browse_opps') %>

<div class='layout_with_sidebar_left'>
  <div class='sidebar'>
    <%= render 'filter_form' %>
  </div>
  <div class='content'>
    <%= render 'search_results' %>
  </div>
</div>
