<% content_for(:page_key, 'opportunities-index') %>
<% content_for(:page_title, t('browse_opportunities')) %>

<div class='page_header'>
  <h2><%= t('browse_opportunities') %></h2>
  <span class='search_result_count'><%= t('num_results', count: @opportunities.total_count) %></span>
</div>

<div class='grid'>
  <div class='item lap_five_columns desk_four_columns'>
    <%= render 'filter_form' %>
  </div>
  <div class='item lap_seven_columns desk_eight_columns'>
    <%= render 'search_results' %>
  </div>
</div>
