<% content_for(:page_key, 'opportunities-new') %>
<% content_for(:main_container_class, 'container_small') %>

<div class='page_header'>
  <h2><%= t('post_opportunity') %></h2>
</div>

<%= simple_form_for @opportunity do |f| %>
  <%= f.input :title, label: t('name_your_opportunity') %>
  <%= f.button :button, class: 'primary' %>
<% end %>
