<% content_for(:page_title, t('submit_proposal')) %>
<% content_for(:main_container_class, 'container_small') %>

<div class='page_header page_header_simple'>
  <h2><%= t('submit_proposal') %></h2>
</div>

<%= render "submission_adapters/#{@opportunity.submission_adapter.to_param}/submit" %>
