@import 'theme/includes';

.container {
  @include container;

  &.container_small {
    max-width: 50rem;
  }

  &.container_tiny {
    max-width: 40rem;
  }
}

.main_container {
  padding-top: $rhythm * 3;
}

.hero {
  @include hero_color(#09152f,#ba9270,0.6,#0085fa,0.3);
}

.opportunity_section {
  margin-bottom: $rhythm * 4;

  form {
    max-width: 36rem;
  }
}

.page_subheader_saved_searches {
  margin-top: $lineHeight;
}

.footer {
  margin-top: $lineHeight * 2;
}
