<% content_for(:page_title, t('.title')) %>
<% content_for(:main_container_class, 'container_tiny') %>

<div class='page_header'>
  <h2><%= t('.title') %></h2>
</div>

<p><%= t('.body') %></p>

<%= render "users/shared/links" %>
